.about {
  position: relative;
  padding: 60px 16px 0;
  width: 100%;
  height: auto;
  color: #fcfcfc;
  background: #84A178;
  text-align: center;
}

.about__container {
         @media screen and (min-width: 768px) {
        display: flex;
        gap: 38px;
      align-items: center;
      justify-content: center;
          padding: 0 16px;
          }
@media screen and (min-width: 1200px) {
    padding: 0 105px 0 0;
        gap: 109px;
}
}  

// Заголовок
.about__title {
    margin: 0 auto 32px;
    padding: 0 60px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    // text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        letter-spacing: 0.06;   
        margin-bottom: 72px;    
      }

      @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 82px;
          }
}
// Підзаголовок
.about__text-name { 
    margin: 0 auto 12px;
    font-family:  'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-weight: 800;
        font-size: 22px;
        letter-spacing: .04em;       
      }

      @media screen and (min-width: 1200px) {
        font-size: 30px;
        letter-spacing: .04em;     
          }
}

//  Текст

.about__text { 
    display: block;
    text-align: center; 
    padding: 0 50px;
    margin: 0 auto;
    font-family:  'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: .04em;  
    @media screen and (min-width: 480px) {
        padding: 0;
        margin: auto;
        max-width: 334px;
}
     @media screen and (min-width: 768px) {
             text-align: start;
             margin: 0;
             max-width: 334px;
     }
     @media screen and (min-width: 1200px) {
        font-size: 16px;
         max-width: 463px; 
     }
   }


.about__text--one {
    margin: 0 auto 4px;
    @media screen and (min-width: 768px) {
        margin: 0 auto 8px;
}
}


.about__text--two {
    margin: 0 auto 10px;
line-height: 1.35;
@media screen and (min-width: 768px) {
    margin: 0 auto 8px;
  }
}
.about__text--three {
  display: none;
  @media screen and (min-width: 768px) {
   display: block;
    margin: 0 auto 32px;
}
@media screen and (min-width: 1200px) {
        margin: 0 auto 54px;
}
}

.icon-next {
    fill: currentColor;
}

.about__button {
    display: flex;
    gap: 5px;
   justify-content: center;
   align-items: center;
    min-width: 164px;
    margin: 0 auto;
    padding: 12px 34px;
    text-align: center;
    color: #000000;
    border: transparent;
    border-radius: 10px;
    background: #F8D24E;
        font-family: 'Montserrat';
     font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: .06em;
    cursor: pointer;
transition: all .30s cubic-bezier(.4,0,.2,1);
    @media screen and (min-width: 768px) {
         margin: 0 auto 0 0;
 }
}
.about__button {   
    &:hover    {
        background-color: #0A8817;
    }
&:focus {
    color:#fcfcfc;
    background-color: #0A8817;
}
&:disabled {
    color: #000000;
    background-color: #ababab;
}
}
.about__img {
    position: absolute;
    width: 279px;
    height: 278px;
    left: 0px;
    top: 22px;
        border-radius: 148px;
//         background:  url('../images/about/cow-min.png');
//         @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),screen and (max-width: 768px) and (min-resolution: 2dppx) {
//          background-image: url("../images/about/cowx2-min.png");
//         }
@media screen and (min-width: 768px) {
      width: 330px;
       height: 330px;
       top: 26px;
       border-radius: 1228px;
    //    background:  url('../images/about/cowtab-min.png');
    //    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),screen and (min-width: 768px) and (min-resolution: 2dppx) { 
    //     background-image: url("../images/about/cowtabx2-min.png");
    //    }
    }
@media screen and (min-width: 1200px) {
   width: 490px;
height: 490px;
top: 39px;        
border-radius: 1852.2px;
// background:  url('../images/about/cowdesk-min.png');
// @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2),
// (min-resolution: 192dpi),
// (min-resolution: 2dppx) {
//     background-image: url("../images/about/cowdeskx2-min.png");

// }
}
}
.about__overlay {
    position: relative;
    width: 279px;
    height: 278px;
     margin: 0 auto 62px;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px; 
    background:  linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
           
@media screen and (min-width: 768px) { 
width: 330px;
height: 330px;
margin: 0;
margin-bottom: 26px;
box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
border-radius: 165px;
}
@media screen and (min-width: 1200px) {
width: 490px;
height: 490px;
margin-bottom: 39px;
box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
border-radius: 250px;
}
}


// ./images/about/cow-min.png 279w,./images/about/cowx2-min.png  558w,