.advantages{
  background-color: var(--section-color1);
}


.advantages__card{
padding-top: 50px;
margin: 0 auto;
padding-bottom: 64px; 
display: flex;
text-align: center;

@media  screen and  (min-width:$tablet) and (max-width:1199px){
  padding-top: 60px;
  padding-bottom: 204px;  
} 
@media  screen and (min-width:$desktop){
  padding-bottom: 178px;  
} 
}
.advantages__list{
display: flex;
flex-wrap: wrap;
gap: 28px;
margin-left: auto;
margin-right: auto;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;

@media  screen and  (min-width:$tablet) and (max-width:1199px){
  display: inline-flex;
  flex-wrap: wrap;
  gap: 80px;
} 
@media  screen and (min-width:$desktop){
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;  
} 
}

.advantages__item{
display: block;
justify-content: center;
list-style-type: none;
width: 280px;
margin-left: auto;
margin-right: auto;
  
@media  screen and (min-width:$mobile) and (max-width:767px){
  width: 440px;
}
@media  screen and  (min-width:$tablet) and (max-width:1199px){
  width: 152px;
}
@media  screen and (min-width:$desktop){
  margin: 0;
  width: 368px;
} 
}

.advantages__first::before{
  content: '';
  display: inline-block;
  justify-content:center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
  background: #F8D24E;
  border-radius: 25px;
  background-image: url(../images/advantages/scow-min.png);
  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/scowx2-min.png);
    }
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__second::before{
  content: '';
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
  background: #F8D24E;
  border-radius: 25px;
  background-image: url(../images/advantages/sweight-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/sweightx2-min.png);
    }
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__third::before{
  content: '';
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
  background: #F8D24E;
  border-radius: 25px;
  background-image: url(../images/advantages/sicecrema-min.png);
  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/sicecremax2-min.png);
    }
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__pretitle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.22;
text-align: center;
letter-spacing: 0.04em;
color:var(--section-color2);
margin-top: 16px;

@media  screen and  (min-width:$tablet) and (max-width:1199px){
  font-size: 48px;
  line-height: 1.23;
  margin-top: 32px;
}
@media  screen and (min-width:$desktop){
  font-size: 58px;
  line-height: 1.22;
  margin-top: 40px;
} 
}

.advantages__text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 1.67;
text-align: center;
color:var(--section-color2);
margin-top: 16px;

@media  screen and  (min-width:$tablet) and (max-width:1199px){
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  margin-top: 12px;
}
@media  screen and (min-width:$desktop){
  font-size: 16px;
  line-height: 1.75;
} 
}
