.section-contacts {
    min-width: 320px;
    padding: 40px 0 60px;
}

.section-contacts__item {
    margin-bottom: 20px;
    margin-top: -400px;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 16px;
        margin-bottom: 40px;
        margin-top: -345px;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
        margin-bottom: 60px;
        margin-top: -170px;
    }
}

.contacts-card {
    padding: 0 32px;
    display: block;
    width: 100%;
    min-height: 412px;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    margin: 0 auto;
    margin-bottom: 16px;

    transform: scale(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        width: 440px;
    }

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 537px;
        padding: 0 24px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 542px;
        padding: 0 40px;
    }

    &:hover {
        transform:scale(102%);
                
    }

}

.contacts-card__item:not(:first-child) {
    padding: 24px 0;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }
}

.contacts-card__category {
    display: inline-block;
    padding: 4px 22px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.04em;

    color: #131313;
    background: #F8D24E;
    border-radius: 4px;

    margin: 40px 0 20px;

    @media screen and (min-width: 768px) {
        padding: 4px 14px;
        font-size: 16px;
        line-height: 1.4;
        border-radius: 6px;
        margin: 40px 0 32px;
    }

}

.contacts-card__city {
    line-height: 186%;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #131313;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;
        margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        margin-bottom: 8px;
    }

}

.contacts-card__adress {
    line-height: 183%;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #D6936D;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    
    }
}

.timetable {

    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;

}

.timetable-wrap {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 12px;

    }
}

.contacts-card__days {
    line-height: 186%;
    font-weight: 500;
    color: #131313;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.contacts-card__timetable {
    line-height: 186%;
    color: #ABABAB;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.contacts-card__phone {
    display: block;
    line-height: 160%;
    font-weight: 500;
    color: #131313;
    margin-bottom: 6px;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 4px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }

}

.contacts-card__email {
    line-height: 160%;
    color: #131313;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;
        line-height: 150%;

    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.section-contacts__btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

}

.contacts-btn {
    width: 196px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: #131313;
    background-color: #F8D24E;
    border-radius: 10px;
    border-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #0A8817;
    }
    &:focus {
        color: #FFFFFF;
        &>svg {
                fill: #FFFFFF;
            }
    }
    &:disabled {
        background-color:#ABABAB;
    }
    

}
.franchise-btn {
    width: 196px;
        height: 42px;
        font-weight: 600;
        font-size: 14px;
        line-height: calc(18 / 14);
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        color: #131313;
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid #F8D24E;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            border-color: #0A8817;
            background-color: transparent;
        }
        &:focus {
            color: #FFFFFF;
        
            &>svg {     
                fill: #FFFFFF;
            }
        }
        &:disabled {
            border-color: #ABABAB;
            background-color: transparent;
        }
}

// ====================================================/* Modal Location */================================================

.backdrop-location {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-location.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.2);
}

.modal-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @media screen and (max-width: 767px) {
        width: 95%;
        max-width: 280px;
        height: 95%;
        max-height: 365px;
        // overflow: scroll;
        padding: 28px;
    }

    @media screen and (min-width: 768px) {
        width: 568px;
        height: 458px;
        padding: 32px 60px;
    }
}

.close-mdl-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    border-width: 0;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    &:focus,
    &:hover {
        background-color: #F8D24E;
    }

}

.modal-location__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    color: #131313;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.modal-location__map {
    width: 224px;
    height: 199px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        width: 448px;
        height: 260px;
        margin-bottom: 32px;
    }
}

.modal-location__btn {
    width: 134px;
    height: 42px;
    font-size: 12px;
    font-weight: 600;
    line-height: calc(15 / 12);
    margin: 0 auto;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 145px;
        font-size: 14px;
        line-height: calc(17 / 14);
    }
}

// ========================================================/* Modal Franchise */==========================================
input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.backdrop-fr {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-fr.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.2);
}

.modal-fr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @media screen and (max-width: 767px) {
        width: 95%;
        width: 280px;
        height: 95%;
        height: 674px;
        overflow: scroll;
        padding: 28px;
    }

    @media screen and (min-width: 768px) {
        width: 568px;
        height: 668px;
        padding: 32px 60px;
    }

}

.modal-fr__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    color: #131313;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 322px;
        font-size: 20px;
        line-height: 1.4;
        margin: 0 auto;
        margin-bottom: 24px;
    }
}

.modal-fr__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: #131313;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        width: 448px;
        font-size: 16px;
        letter-spacing: 0;
        margin-bottom: 32px;
    }

}

.fr-form-group {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        width: 368px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

.modal-fr-form-label {
    display: flex;
    flex-direction: column;

    & input {
        height: 32px;
        border: 1px solid #84A178;
        border-radius: 10px;
        padding: 8px 12px;
        background: rgba(248, 210, 78, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            height: 42px;
            padding: 11px 16px;
        }

    }

    & input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;

        color: #131313;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

    }

    & textarea {
        height: 64px;
        resize: none;
        border: 1px solid #84A178;
        border-radius: 10px;
        padding: 8px 12px;
        background: rgba(248, 210, 78, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            height: 84px;
            padding: 11px 16px;
        }
    }

    & textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;

        color: #131313;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }

    &:focus-within input,
    &:focus-within textarea {
        border: 1px solid #F8D24E;
    }

}

.modal-fr__form button {
    width: 114px;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        width: 121px;
        margin-top: 32px;
    }
}