.section-footer{
    outline: 2px solid black;
}
.vissually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.footer__list-one{
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    
    color: #FCFCFC;
    
      width: 232px; 
        margin-bottom: 16px;

        font-size: 18px;
        line-height: 1.22;
        padding-left: 10px;
      
       
    
    @media screen and (min-width:768px){  
        width: 504px; 
         margin-bottom: 8px;

        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width:1200px){ 
        width: 100%; 
         margin-bottom: 14px;

        font-size: 30px;
        line-height: 1.23;
        font-weight: 400;
   

    }
}

.footer__list-two{width: 200px;
     padding-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FCFCFC;
    @media screen and (min-width:768px){  
        width: 352px; 
         margin-bottom: 32px;
         font-weight: 700;
         font-size: 48px;
         line-height: 1.23;
         letter-spacing: 0.06em;
    }
    @media screen and (min-width:1200px){ 
        width: 100%; 
         margin-bottom: 60px;

         font-weight: 700;
         font-size: 58px;
         line-height: 1.22;

    }
}

.footer__social{ 
    list-style: none;
}

.footer__social-media{
    text-decoration: none;
    color: currentColor;
    left: 0;
    list-style: none;

    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    gap: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px){
        gap: 30px;
        margin-bottom: 34px;

    }
    @media screen and (min-width: 1200px){
    
        margin-bottom: 40px;

    }
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    color: #84A178;
    background-color: #F8D24E;
   
    border-radius: 50%;
}

.footer__social-networks{
   
    fill: currentColor;}

    .footer__contacts{display: flex;
        flex-direction:row-reverse

    }
    .footer__contacts-list{
        flex-direction: row;
        flex-wrap: wrap;
    }

