
.vissually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.container{
    margin-bottom: 49px;
}
.footer__list {max-width: 234px;
    margin-bottom: 43px;
    
   
}
.footer__list-one{
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    
    color: #FCFCFC;
        margin-bottom: 16px;

        font-size: 18px;
        line-height: 1.22;
        padding-left: 10px;
      
       
    
    @media screen and (min-width:768px){  
        width: 504px; 
         margin-bottom: 8px;

        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width:1200px){ 
        width: 100%; 
         margin-bottom: 14px;

        font-size: 30px;
        line-height: 1.23;
        font-weight: 400;
   

    }
}

.footer__list-two {width: 200px;
     padding-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FCFCFC;
    @media screen and (min-width:768px){  
        width: 352px; 
         margin-bottom: 32px;
         font-weight: 700;
         font-size: 48px;
         line-height: 1.23;
         letter-spacing: 0.06em;
    }
    @media screen and (min-width:1200px){ 
        width: 100%; 
         margin-bottom: 60px;

         font-weight: 700;
         font-size: 58px;
         line-height: 1.22;

    }
}

.footer__social{ 
    list-style: none;
}

.footer__social-media{
    text-decoration: none;
    color: currentColor;
    left: 0;
    list-style: none;

    display: flex;
   
    justify-content:flex-end;
    gap: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px){
        gap: 30px;
        margin-bottom: 34px;

    }
    @media screen and (min-width: 1200px){
    
        margin-bottom: 40px;

    }
}
.footer__item{
    gap: 30px;
}
.footer__social-sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    color: #84A178;
    background-color: #F8D24E;
   
    border-radius: 50%;

    &:hover,
    &:focus{
        color: #FCFCFC;
    }
}

.footer__social-networks{
    width: 20px;
    height: 20px;
   
    fill: currentColor;}

  
    .footer__contacts-title{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 60px;

        color: #131313;
        text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 1.86;
            text-align: right;
    
            @media screen and (min-width:768px){font-size: 14px;
    
            }
            @media screen and (min-width:1200x){font-size: 16px;
    
            }
        }
        

    

    .footer__contacts-tel{ text-decoration: none;

        margin-left: 3px;
      
        color: #FFFFFF;
        @media screen and (min-width:768px){font-size: 14px;

        }
        @media screen and (min-width:1200x){font-size: 16px;

        }
      
    }


.footer__copyright{  
    display: flex;
    justify-content: center;
    text-align: center;
min-height: 83px;
    
border-top: 1px solid #E1E1E1;


   

}
.footer__copyright-text {
   width: 220px;
 padding: 20px;
   text-align: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.52;

color: #7A7A7A;



@media screen and (min-width:768px){
    width: 100%;
  

    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

}
@media screen and (min-width:1200px){
   
    font-size: 12px;

}


}