.gallery {
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    position: relative;
    // // mobile screen
    // background-image: 
    // url(../images/background/Backgroud_mobile-min.png);
    
    // // mobile screen retina
    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    // background-image: 
    //     url(../images/background/Backgroud_mobilex2-min.png);
    // }
    
    // // tablet screen
    // @media screen and (min-width: 481px) {
    // background-image: 
    // url(../images/background/Background_tablet-min.png);
    // margin-left: auto;
    // margin-right: auto;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    
    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //     background-image: 
    //     url(../images/background/Background_tabletx2-min.png);
    //     }
    // }
    
    // // desktop screen    
    // @media screen and (min-width: 769px) {
    //     background-image: 
    //     url(../images/background/Backgroud_desktop-min.png);
    //     margin-left: auto;
    //     margin-right: auto;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center;
    
    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //     background-image: 
    //     url(../images/background/Backgroud_desktopx2-min.png);
    //     }
    // }  
    
}  

.gallery__img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 280px;

    @media screen and (min-width: 768px) {
      width: 704px;
      transform: translate(-50%, -40%);
    }
    
    @media screen and (min-width: 1200px) {
      width: 1013px;
      transform: translate(-50%, -20%);
    }
}


// .is-hidden {
//    opacity: 0;
//    visibility: hidden;
//    pointer-events: none;
// }

