.section-hero {
  @media screen and (max-width:767.98px) {
    height: 502px;
  }
  @media screen and (min-width:768px) {
    height: 370px;
  }
  @media screen and (min-width:1200px) {
    height: 600px;
  }
}


.section-main-img{
  position: absolute;
  bottom: 0px;

  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
 

  // @media screen and (max-width:480px){
  //  width:480px;
  // }
 

  @media screen and (max-width:767.98px){
   width: 177px;
    right: 35%;
  }


  @media screen and (min-width:768px) {
    right: 12%;
  }

  @media screen and (min-width:1200px) {
    right: 9%;
  }
}


.section-ice-img{
  position: absolute;
  left: 16px;
  animation: rotate-scale-down 0.65s linear both;

  @keyframes rotate-scale-down {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }
  

  @media screen and (max-width:767.98px) {
    display: none;
  }

  @media screen and (min-width:768px){
bottom: 12px;
  }

  @media screen and (min-width:1200px){
width: 225px;
bottom: 65px;

  }
}

.hero-container {
  position: relative;
  height: 100%;
  background-position: bottom;
  background-size: 100%;

  background-repeat: no-repeat;

  // mobile screen
 
 
      @media screen and (max-width:767.98px) {
        max-width: 480px;
      
    
  
  background-image:
    url(../images/background/dotsmob-min.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: 
      url(../images/background/dotsmobx2-min.png);
  }
}


  // @media screen and (max-width: 767.98px) {
  //   background-size: 177px 217px, 100%;
  // }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: 
      url(../images/background/dotstab-min.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        url(../images/background/dotstabx2-min.png);
    }

    // @media screen and (min-width: 768px) {
    //   background-position: bottom right 92px, bottom 12px left 32px, bottom;
    //   background-size: 268px 329px, 152px 152px, 100%;
    // }
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image:
      url(../images/background/dotsdesk-min.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        url(../images/background/dotsdeskx2-min.png);
    }
    // @media screen and (min-width: 1200px) {
    //   background-position: right 92px bottom, left 16px bottom 65px, bottom;

    //   background-size: 456px 560px, 225px 225px, 100%;
    // }
  }
}

.hero-title1 {
  font-family: Seymour One;
  font-size: 26px;

  line-height: 1.26;
  letter-spacing: 0.04em;
  @media screen and (min-width: 1200px) {
    
    font-size: 38px;
font-weight: 400;



  }
}

.hero-title2 {
  font-family: Seymour One;
  font-size: 34px;

  line-height: 0.97;
  @media screen and (min-width: 1200px) {
    
    font-size: 38px;
font-weight: 400;
line-height: 1.26;
letter-spacing: 0.04em;


  }
}

.hero-title3 {
  font-family: Titan One;
  font-size: 37px;

  line-height: 1.13;
  letter-spacing: 0.04em;

  @media screen and (min-width: 1200px) {
   
    font-size: 38px;	   
    font-family: Seymour One;

font-weight: 400;
line-height: 1.26;


  }	  
}

.section-hero__title {
  padding-top: 47px;
  padding-left: 20px;
  padding-right: 53px;
  margin-bottom: 32px;

  color: rgba(252, 252, 252, 1);
  text-transform: uppercase;

  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-800px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  @media screen and (min-width:768px) {
    padding-top: 12px;
    margin-bottom: 24px;
  }

  @media screen and (min-width:1200px) {
    padding-top: 45px;
    margin-bottom: 28px;
  }
}

.section-hero__button {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  padding: 11px 26px;
  margin-right: 12px;
  border-radius: 8px;
  border: 2px solid rgba(248, 210, 78, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.28;
  }

  &:hover{
border-color: rgba(10, 136, 23, 1);
  }
  &:focus{
color: rgba(252, 252, 252, 1);
border-color: rgba(10, 136, 23, 1);
  }
}

.section-hero__link {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: rgba(248, 210, 78, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  &:hover{
color: rgba(10, 136, 23, 1);
  }
  &:focus{
color: rgba(252, 252, 252, 1);
  }
}

.section-hero__text {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.42;
  color: rgba(252, 252, 252, 1);
  position: absolute;
  height: auto;


  
  

  @media screen and (min-width:768px)  {
    font-size: 11px;
    width: 139px;
    // top: 210px;
    left: 216px;
    bottom: 52px;

  }

    @media screen and (min-width:1200px) {
   
  font-size: 13px;
  
  width: 200px;


  left: 257px;
  bottom: 143px;
  // top: 381px;
 

 }

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.hero-list {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  
  @media screen and (min-width:768px) {
    top: 28px;
  right: 32px;
  }
  
  @media screen and (min-width:1200px){
    top: 56px;
    right: 16px;
  }
  
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.hero-list__number__arrow{
  fill:rgba(252, 252, 252, 1);
  position: absolute;
    @media screen and (max-width:767.98px) {
     display: none;

    }

  @media screen and (min-width:768px) {
bottom: 24px;
left: 216px;
}

   @media screen and (min-width:1200px){ 
bottom: 103px;
left:257px;
  }
}

.hero-list__number{
 color: rgba(19, 19, 19, 1);

 font-family: Montserrat;
 font-weight: 900;

line-height: 1.21;
letter-spacing: 0.04em;
margin-bottom: 4px;


 @media screen and (min-width:768px){ 

font-size: 28px;
 }

@media screen and (min-width:1200px) {

font-size: 46px;
}
}	

.hero-list__item{
 color: rgba(252, 252, 252, 1);
 font-family: Montserrat;
font-size: 8px;
font-weight: 400;
line-height: 1.25;

&:not(:last-child){
 margin-bottom: 20px;
}


}
