.menu-logo {
  position: absolute;
  top: 12px;
  left: 20px;
  display: block;
}
.logo-img {
  width: 40px;
  height: 37px;
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
}
.close-menu {
  position: absolute;
  top: 12px;
  right: 20px;
  display: block;
  min-height: 32px;
  min-width: 32px;
  background-color: transparent;
  fill: #fcfcfc;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #000000;
  }
}
.header-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #85a279;
  z-index: 20;
  opacity: 0;
  transform: translateX(100%);
  overflow-y: scroll;
  overflow: hidden;
}

.header-menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}

.mobile-menu {
  margin-bottom: auto;
  margin-top: 100px;
  @media screen and (min-width: 768px) {
    margin-top: 140px;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #fcfcfc;
  display: inline-block;
  &:hover,
  &:focus {
    color: #131313;
  }
}
// .menu-container .menu__link:active {
//   display: none;
// }
.made {
  color: #131313;
}
.mobile-menu__item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
.menu__button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  background: #f8d24e;
  border-radius: 10px;
  padding: 12px 51px 12px 36px;
  border: none;
  margin-bottom: 64px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
  }
  &:disabled {
    background-color: #ababab;
  }
}
.menu__button-svg {
  margin-left: 4px;
  position: absolute;
  top: 15px;
  right: 35px;
  &:focus {
    fill: #fff;
  }
}
