.product-logo{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 1.23;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
}

.product-name{
    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 1.25;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #131313;
}

.product-item{
    display: flex;
    margin-right: 29px;


}