.reviews {
  display: flex;
  position: relative;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 1069px;
  background-image: url(../images/background/Backgroud_mobile-min.png);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/background/Backgroud_mobilex2-min.png);
  }

  @media screen and (min-width:$tablet) and (max-width:1199px) {
    padding-top: 283px;
    padding-bottom: 379px;
    height: 1161px;
    background-image: url(../images/background/Background_tablet-min.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/background/Background_tabletx2-min.png);
    }
  }

  @media screen and (min-width:$desktop) {
    padding-top: 562px;
    padding-bottom: 228px;
    height: 1151px;
    background-image: url(../images/background/Backgroud_desktop-min.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/background/Backgroud_desktopx2-min.png);
    }
  }

}

.comments_wrapper {
  max-width: 100%;
  // height: 256px;
}

.reviews__comments {
  background-color: #84A178;
  padding: 35px 39px;
  margin-top: 32px;
  margin-bottom: 32px;
  // min-height: 256px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;

  text-align: center;

  color: #FCFCFC;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 28px 80px 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
  }

  @media (min-width: 1200px) {
    padding: 43px 109px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }
}

.reviews__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  margin-bottom: 32px;
  text-align: center;

  color: #131313;

  @media (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }
}

.photo {
  border-radius: 100%;
}