:root {
  // html {
  //   box-sizing: border-box;
  // }


  // *,
  // *::before,
  // *::after {
  //   box-sizing: inherit;

  //   html {
  //       box-sizing: border-box;
  //   }    

  // }

  /* Fonts */
  --main-font: ;
  --secondary-font: ;

  /* Text colors */
  --main-txt: ;
  --accent-txt: ;

  /* BG colors */
  --body-color: #817c7c;
  --section-color1: #84a178;
  --section-color2: #fcfcfc;
  /* Others */
  --btn-radius: ;

  // Transitions
  --trns-fast: 300ms ease-in-out;
  --trns-slow: 500ms ease-in;
}

// BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
