<section class="about" id="about">
  <p class="about__text-name">tradition and love</p>
  <h2 class="about__title" id="about2">how it’s made?</h2>
  <div class="about__container" >
    <div class="about__overlay">
      <div class="about__img"></div>
    <img class="about__img"
  srcset=" 
  ./images/about/cow-min.png 279w,
  ./images/about/cowtab-min.png 330w,
  ./images/about/cowdesk-min.png 490w,
  ./images/about/cowx2-min.png  558w,
  ./images/about/cowtabx2-min.png 660w,
  ./images/about/cowdeskx2-min.png 980w" 
  sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px, 100vw"
   src="./images/about/cow-min.png" alt="Фото корови">
  </div>
   <div class="about__text">
 <p class="about__text--one">
  Ice is a place where you will become not only a little happier,
   but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. 
  </p>
   <p class="about__text--two">
  We use traditional recipes and 100% natural ingredients. 
  Our products are so natural that they can be given to children from the age of three years. 
  Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
  </p>
  <p class="about__text--three">
  This is enough to choose ice cream and coffee for any mood!
  </p>
<button type="button" class="about__button" data-modal-about-open><span>Read more</span>
<svg  class="icon-next" width="12" height="12" >
  <use href="./images/sprite.svg#icon-Vectornext">
  </use>
</svg>
</button>
  </div>
  </div>
</section>
<script defer src="./js/modal.js"></script>
