 
<!-- <div class="backdrop-about is-hidden" data-modal="about"> -->
    
    <div class="backdrop-about is-hidden" data-modal-about>
      <div class="about__modal" >
    <button class="about__close"  data-modal-about-close>
      <svg class='icon-close' width="12" height="12" >
        <use href="./images/sprite.svg#icon-Vectorclose">
        </use>
      </svg>
    </button>
    <p class="about__modal--title">how it’s made?</p>
    <iframe class="video" 
    name = "myframe" 
    src = "./images/about/Ice cream made with passion.mp4">
    </iframe>
    <!-- <video class="video"
    src="./images/about/cow-min.png"
    poster="./images/about/cow-min.png"
    controls
    preload="none">
  </video> -->
   
    <p class="about__text--modal">
      In order to satisfy the tastes of the most demanding consumer from 
      small to large, we adhere to quality standards, testing all the ingredients
      included in the ice cream every day.
       Our specialists carefully monitor the production process, technologies and development of new types of desserts
       based on ice cream.
         </p>
     </div>
</div>
  <script defer src="./js/modal-about.js"></script>
  
  
  