 
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class='icon-close' width="14" height="14" >
        <use href="./images/sprite.svg#icon-Vectorclose">
        </use>
      </svg>
    </button>
    <p class="modal__title">how it’s made?</p>
    <video class="video"
    src="./images/about/cow-min.png"
    poster="./images/about/cow-min.png"
    controls
    preload="none">
  </video>
   
    <p class="about__text--modal">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
     consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
   </p>
     </div>
  <script defer src="./js/mobile-menu.js"></script>
  
  
  