<section id="contacts" class="section-contacts">
  <div class="container">
    <h2 class="visually-hidden section-contacts__title">Our Contacts</h2>
    <div class="section-contacts__item">
      <ul class="contacts-card list">
        <li class="contacts-card__item">
          <p class="contacts-card__category">CAFE</p>
          <p class="contacts-card__city">Chicago</p>
          <p class="contacts-card__adress">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </p>
        </li>
        <li class="contacts-card__item timetable">
          <div class="timetable-wrap">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__timetable">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts-card__days">Saturday - Sunday</p>
          <p class="contacts-card__timetable">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts-card__item">
          <a class="contacts-card__phone link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__email link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
      <ul class="contacts-card list">
        <li class="contacts-card__item">
          <p class="contacts-card__category">FOOD TRUCK</p>
          <p class="contacts-card__city">Los Angeles</p>
          <p class="contacts-card__adress">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </li>
        <li class="contacts-card__item timetable">
          <div class="timetable-wrap">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__timetable">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts-card__days">Saturday - Sunday</p>
          <p class="contacts-card__timetable">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts-card__item">
          <a class="contacts-card__phone link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__email link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
      <ul class="contacts-card list">
        <li class="contacts-card__item">
          <p class="contacts-card__category">CAFE</p>
          <p class="contacts-card__city">New York</p>
          <p class="contacts-card__adress">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </p>
        </li>
        <li class="contacts-card__item timetable">
          <div class="timetable-wrap">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__timetable">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts-card__days">Saturday - Sunday</p>
          <p class="contacts-card__timetable">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts-card__item">
          <a class="contacts-card__phone link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__email link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
    <ul class="section-contacts__btn list">
      <li>
        <button
          class="contacts-btn location"
          data-modal-location-open
          type="button"
        >
          Our Locations
          <svg width="12" height="12" viewBox="0 0 32 32">
            <path
              d="M8.51 3.254c-0.326 0.376-0.51 0.886-0.51 1.417s0.183 1.041 0.51 1.417l8.62 9.924-8.62 9.924c-0.317 0.378-0.493 0.884-0.489 1.41s0.187 1.029 0.51 1.4 0.76 0.583 1.216 0.587c0.457 0.005 0.896-0.198 1.225-0.563l9.851-11.341c0.326-0.376 0.51-0.886 0.51-1.417s-0.183-1.041-0.51-1.417l-9.851-11.341c-0.327-0.376-0.769-0.587-1.231-0.587s-0.905 0.211-1.231 0.587z"
            ></path>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="contacts-btn franchise-btn"
          data-modal-franchise-open
          type="button"
        >
          Franchise
          <svg width="12" height="12" viewBox="0 0 32 32">
            <path
              d="M8.51 3.254c-0.326 0.376-0.51 0.886-0.51 1.417s0.183 1.041 0.51 1.417l8.62 9.924-8.62 9.924c-0.317 0.378-0.493 0.884-0.489 1.41s0.187 1.029 0.51 1.4 0.76 0.583 1.216 0.587c0.457 0.005 0.896-0.198 1.225-0.563l9.851-11.341c0.326-0.376 0.51-0.886 0.51-1.417s-0.183-1.041-0.51-1.417l-9.851-11.341c-0.327-0.376-0.769-0.587-1.231-0.587s-0.905 0.211-1.231 0.587z"
            ></path>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- Modal Location -->

<div class="backdrop-location is-hidden" data-modal-location>
  <div class="modal-location">
    <p class="modal-location__title">Our Locations</p>
    <button class="close-mdl-btn" type="button" data-modal-location-close>
      <svg width="20" height="20" viewBox="0 0 32 32">
        <path
          d="M17.253 16l7.369-7.369c0.146-0.17 0.222-0.389 0.213-0.613s-0.101-0.436-0.26-0.594c-0.158-0.158-0.37-0.251-0.594-0.26s-0.442 0.067-0.612 0.213l-7.369 7.369-7.369-7.378c-0.167-0.167-0.394-0.261-0.631-0.261s-0.464 0.094-0.631 0.261c-0.167 0.167-0.261 0.394-0.261 0.631s0.094 0.464 0.261 0.631l7.378 7.369-7.378 7.369c-0.093 0.080-0.169 0.178-0.222 0.288s-0.083 0.23-0.088 0.353c-0.005 0.123 0.016 0.245 0.061 0.359s0.112 0.218 0.199 0.304c0.087 0.087 0.19 0.154 0.304 0.199s0.236 0.065 0.359 0.060c0.122-0.005 0.243-0.035 0.353-0.088s0.208-0.129 0.288-0.222l7.378-7.369 7.369 7.369c0.17 0.146 0.389 0.222 0.612 0.213s0.436-0.101 0.594-0.26c0.158-0.158 0.251-0.37 0.26-0.594s-0.067-0.442-0.213-0.612l-7.369-7.369z"
        ></path>
      </svg>
    </button>
    <div class="modal-location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.71155383743!2d34.557238549999994!3d49.60204445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671214154162!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a
      class="modal-location__btn contacts-btn link"
      target="_blank"
      href="https://goo.gl/maps/rStyy7rmeLihcvrTA"
      >Open map</a
    >
  </div>
</div>
<!-- Modal Franchise -->

<div class="backdrop-fr is-hidden" data-modal-franchise>
  <div class="modal-fr">
    <p class="modal-fr__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="modal-fr__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <button class="close-mdl-btn" type="button" data-modal-franchise-close>
      <svg width="20" height="20" viewBox="0 0 32 32">
        <path
          d="M17.253 16l7.369-7.369c0.146-0.17 0.222-0.389 0.213-0.613s-0.101-0.436-0.26-0.594c-0.158-0.158-0.37-0.251-0.594-0.26s-0.442 0.067-0.612 0.213l-7.369 7.369-7.369-7.378c-0.167-0.167-0.394-0.261-0.631-0.261s-0.464 0.094-0.631 0.261c-0.167 0.167-0.261 0.394-0.261 0.631s0.094 0.464 0.261 0.631l7.378 7.369-7.378 7.369c-0.093 0.080-0.169 0.178-0.222 0.288s-0.083 0.23-0.088 0.353c-0.005 0.123 0.016 0.245 0.061 0.359s0.112 0.218 0.199 0.304c0.087 0.087 0.19 0.154 0.304 0.199s0.236 0.065 0.359 0.060c0.122-0.005 0.243-0.035 0.353-0.088s0.208-0.129 0.288-0.222l7.378-7.369 7.369 7.369c0.17 0.146 0.389 0.222 0.612 0.213s0.436-0.101 0.594-0.26c0.158-0.158 0.251-0.37 0.26-0.594s-0.067-0.442-0.213-0.612l-7.369-7.369z"
        ></path>
      </svg>
    </button>
    <form class="modal-fr__form">
      <div class="fr-form-group">
        <label class="modal-fr-form-label">
          <input
            placeholder="Name"
            type="text"
            name="name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
          />
        </label>
      </div>
      <div class="fr-form-group">
        <label class="modal-fr-form-label">
          <input placeholder="Phone" type="tel" name="telefone" />
        </label>
      </div>
      <div class="fr-form-group">
        <label class="modal-fr-form-label">
          <input placeholder="Email" type="email" name="mail" />
        </label>
      </div>
      <div class="fr-form-group">
        <label class="modal-fr-form-label">
          <textarea name="comments" rows="5" placeholder="Comment"></textarea>
        </label>
      </div>
      <button class="modal-location__btn contacts-btn" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
<script src="./js/modal-location.js"></script>
<script src="./js/modal-franchise.js"></script>
