<section class="footer section">
  <h2 class="">homemade ice cream made</h2>
  <h3 class="">with passion</h3>
  <div class="footer__social">
    <ul class="footer__list list">
      <li class="footer__item">
        <a
          class="footer__social-link link"
          href="https://github"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-level="Github icon"
        >
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__social-link link"
          href="https://github"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-level="Github icon"
        >
          <svg class="" width="" height="">
            <use href=""></use></svg
        ></a>
      </li>
      <li class="footer__item">
        <a
          class="footer__social-link link"
          href="https://github"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-level="Github icon"
        >
          <svg class="" width="" height="">
            <use href=""></use></svg
        ></a>
      </li>
    </ul>

    <p>Feel free to contact<span>+61 (0) 383 766 284</span></p>
    <ul>
      <p>© 2022 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </ul>
  </div>
</section>
