<!-- footer -->
<section class="section">
  <h1>footer</h1>
  <div class="footer container">
    <div class="footer__list">
      <p class="footer__list-one list">homemade ice cream made</p>
      <p class="footer__list-two list">with passion</p>
    </div>
    <div class="footer__social">
      <ul class="footer__social-media list">
        <li class="footer__item">
          <a
            class="footer__social-link link"
            href="https://github.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            aria-label="github icon"
          >
            <svg class="" width="34" height="34">
              <use href="/src/images/sprite.svg#icon#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item link">
          <a
            class="footer__social-link link"
            href="https://web.telegram.org/k/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            aria-label="telegram icon"
          >
            <svg class="" width="34" height="34">
              <use href="/src/images/sprite.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer__item link">
          <a
            class="footer__social-link link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener nofollow noreferrer"
            aria-label="facebook icon"
          >
            <svg class="" width="34" height="34">
              <use href="/src/images/sprite.svg#icon#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="">
      <ul>
        <li class="link">
          <p>Feel free to contact</p>
        </li>
        <li class="link">
          <a class="" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </li>
      </ul>
      <ul>
        <li class="link">
          <p>© 2022 - IceCream.</p>
        </li>
        <li class="link">
          <p>All Rights Reserved.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
