<section class="gallery">
   <!-- <h2 class="is-hidden">Ice-cream Gallery</h2> -->
   <!-- <div class="container"> -->
   <div class="container">
      <!-- <div class="slides">
         <input type="radio" name="r" id="r1" checked>
         <input type="radio" name="r" id="r2">
         <input type="radio" name="r" id="r3">

         <div class="slide s1" > -->
            <img class="gallery__img" srcset="
                                   ./images/gallery/slidermob1-min.jpg 280w,
                                   ./images/gallery/slidertabx2-min.jpg 704w,
                                   ./images/gallery/sliderimg1x2-min.jpg 1013w,
                                   ./images/gallery/slider-image1-min.jpg 2026w
                                " sizes="(min-width: 1200px) 2026px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
               src="./images/gallery/slidermob1-min.jpg" alt="lot of ice-cream">
         <!-- </div> -->
         <!-- <div class="slide"> -->
            <!-- <img class="gallery__img" srcset="
                                            ./images/gallery/sliderimg2-min.jpg 1013w,
                                            ./images/gallery/sliderimg2x2-min.jpg 2026w
                                         "
               sizes="(min-width: 1200px) 2026px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
               src="./images/gallery/slidermob1-min.jpg" alt="lot of ice-cream"> -->
         <!-- </div> -->
         <!-- <div class="slide"> -->
            <!-- <img class="gallery__img" srcset="
                                            ./images/gallery/sliderimg3-min.jpg 1013w,
                                            ./images/gallery/sliderimg3x2-min.jpg 2026w
                                         "
               sizes="(min-width: 1200px) 2026px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
               src="./images/gallery/slidermob1-min.jpg" alt="lot of ice-cream"> -->
         <!-- </div> -->
      <!-- </div> -->
      
      <!-- <div class="navigation">
         <label for="r1" class="bar"></label>
         <label for="r2" class="bar"></label>
         <label for="r3" class="bar"></label>
      </div> -->
   </div>
</section>
