
    <div class="container">
        <nav>
            <svg class="" width="" height="">
                <use></use>
              <a href=""></a>
            </svg>
            <ul>
                <li>Home</li>
                <li>How it’s made?</li>
                <li>Our products</li>
                <li>Contact</li>
            </ul>
        </nav>
           <!-- MOB MENU -->

    <button>
        <svg class="" width="" height="">
         <use></use>
        </svg>
    </button>

    
        <button>Buy now 
            <svg class="" width="" height="">
             <use></use>
            </svg>
        </button>

    
    </div>
