
   <section class="section-header ">
    <div class="container container-header ">
      <img class="header-logo" src="./images/icelogo.png" alt="logo">
        <nav class="header-nav">
          
            <ul class="list site-nav ">
                <li class="site-nav__item"> <a class="site-nav__item-link" href="#home">Home</a></li>
                <li class="site-nav__item"> <a class="site-nav__item-link" href="#about">How it’s made?</a></li>
                <li class="site-nav__item"> <a class="site-nav__item-link" href="#products"> Our products</a></li>
                <li class="site-nav__item"> <a class="site-nav__item-link" href="#contacts"> Contact</a></li>
            </ul>
        </nav>
           <!-- MOB MENU -->

  <div class="buttons-header">
    <button class="buttons-header__menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="" width="32" height="32">
         <use href='./images/svg/sprite.svg#icon-eva_menu-fill'></use>
        </svg>
    </button>

    <!-- main menu -->
        <button class="buttons-header__main js-open-modal" data-modal="1">Buy now 
            <svg class="button-svg" width="12" height="12">
             <use href="./images/svg/sprite.svg#ep_arrow-right-bold"></use>
            </svg>
        </button>
  </div>

    
    </div>

   </section>