  <!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button data-modal-close class="close-modal" type="button">
      </button>
      <h2>Buy now</h2>
      <form class="modal-form">
        <div class="modal-form__field">
          <label for="name"> <span class="modal-form__label">Name</span></label>
          <input
            type="text"
            class="modal-form__input"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="modal-form__field">
          <label for="tel"> <span class="modal-form__label">Phone</span></label>
          <input
            type="tel"
            class="modal-form__input"
            name="tel"
            id="tel"
            required
          />
        </div>
        <div class="comment-field">
          <label for="comment">
            <span class="modal-form__label">Comment</span></label
          >
          <textarea
            name="comment"
            rows="2"
            class="comment modal-form__input"
            id="comment"
          ></textarea>
        </div>
        </div>
        <button type="submit" class="modal-form__button">Submit</button>
      </form>
    </div>
  </div> -->