<section class="section-hero">
  <div class="container">
    <div >
        <h1 class="section-hero__title">ice cream<br>
            made with<br>
            passion</h1>
    </div>
    <div>
        <button class="section-hero__button">Products</button>
        <a href="">How it’s made?</a>
    </div>

    <img >
    <p class="section-hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et

    </p>
    <svg class="" width="" height="">
      <use ></use>
    </svg>
    <img >

    <ul class=" hero-list  list">
        <li class="hero-list__number" >
            <svg class="" width="" height="">
            <use></use>
        </svg>
        </li>

        <li class="hero-list__item">cafes</li>
        
        <li class="hero-list__number" >
            <svg class="" width="" height="">
            <use></use>
            </svg> 
        </li>

        <li class="hero-list__item">food trucks</li>
    </ul>
  </div>
</section>