<section>
  <div>
    <div>
        <h1>ice cream
            made with
            passion</h1>
    </div>
    <div>
        <button>Products</button>
        <a href="">How it’s made?</a>
    </div>

    <img >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et

    </p>
    <svg class="" width="" height="">
      <use ></use>
    </svg>
    <img >

    <ul>
        <li>
            <svg class="" width="" height="">
            <use></use>
        </svg>
        </li>

        <li>cafes</li>
        
        <li>
            <svg class="" width="" height="">
            <use></use>
            </svg>
        </li>

        <li>food trucks</li>
    </ul>
  </div>
</section>