<section class="section-hero">
  <div class="container hero-container">
    <div class="container-hero__title" >
        <h1 class="section-hero__title"><span class="hero-title1">ice cream<br></span> 
            <span class="hero-title2">made with<br></span> 
            <span class="hero-title3">passion</span> 
          </h1>
    </div>
    <div>
        <button class="section-hero__button">Products</button>
        <a class="section-hero__link" href="">How it’s made?</a>
    </div>

  
    <p class="section-hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et

    </p>
    <svg class="hero-list__number__arrow" width="40" height="16">
      <use  href="./images/sprite.svg#icon-Arrow"></use>
    </svg>

    <ul class=" hero-list  list">
        <li class="hero-list__number" >
           16
       
        </li>
        <li class="hero-list__item">cafes</li>
        
        <li class="hero-list__number" >
           23
        </li>
        <li class="hero-list__item">food trucks</li>
    </ul>
  </div>
</section>