  <div class="header-menu-container container js-menu-container" id="mobile-menu">
      <a href="./index.html" class="menu-logo link">
        <img class="logo-img" src="./images/icelogo.png" alt="logo">
        </a>
      <button class="close-menu js-close-menu">
          <svg width="20" height="20"><use href="./images/sprite.svg#icon-Vectorclose"></use></svg>
      </button>
    <ul class="mobile-menu list">
      <li class="mobile-menu__item"><a href="#home" class="mobile-menu__link link"> Home</a></li>
      <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link made link"> How it’s made?</a></li>
      <li class="mobile-menu__item"><a href="#products" class="mobile-menu__link link"> Our products</a></li>
      <li class="mobile-menu__item"><a href="#contacts" class="mobile-menu__link link"> Contact</a></li>
    </ul>
    <button class="menu__button js-open-modal" data-modal="1" type="button">Buy now
      <svg class="menu__button-svg" width="12" height="12">
        <use href="./images/sprite.svg#icon-Vectornext"></use>
       </svg>
    </button>
  </div>
  
  
  