<div class="menu-container container js-menu-container" id="mobile-menu">
<div class="menu-icons">
    <a href="./index.html" class="logo link">
        <svg width="20" height="20">
            <use href="./images/svg/sprite.svg#icon-ice-crema"></use>
        </svg>
      </a>
        <button class="close-toggle js-close-menu">
        <svg width="20" height="20"><use href="./images/svg/sprite.svg#icon-Vectorclose"></use></svg>
      </button>
</div>
  <ul class="mobile-menu list">
    <li class="menu__item"><a href="#" class="menu__link link"> Home</a></li>
    <li class="menu__item"><a href="#" class="menu__link made link"> How it’s made?</a></li>
    <li class="menu__item"><a href="#" class="menu__link link"> Our products</a></li>
    <li class="menu__item"><a href="#" class="menu__link link"> Contact</a></li>
  </ul>
  <button class="menu__button" type="button">Buy now</button>
</div>

