

<section class="product" id="products">
  <div class="product-container container">
    <p class="product-logo">100% natural</p>
    <h2 class="product-name">products</h2>
    <ul class="product-card">
      <li class="product-item cream list">
        <div class="product-img">
          <div class="product-overlay cream">
            <img
              class="product-picture cream"
              srcset="
                ../src/images/products/product-icecream-min.png 200w,
                ../src/images/products/product-icecreamx2-min.png 400w,
                ../src/images/products/product-icecreamDesk-min.png 302w,
                ../src/images/products/product-icecreamdeskx2-min.png 604w
              "
              sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
              src="../src/images/products/product-icecream-min.png"
              alt="ice-cream"
            />
          </div>
        </div>
        <h3 class="product-title">ice cream</h3>
        <p class="product-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>

        <button type="button" class="button ice-cream" data-modal-ice-cream-open>
          <svg width="40" height="16">
            
              <use href="./images/sprite.svg#icon-arrow"></use>
            
          </svg>
        </button>
      </li>

      
      <li class="product-item coffee list">
        <div class="product-img">
          <div class="product-overlay coffee">
            <img
              class="product-picture coffee"
              srcset="
                ../src/images/products/product-coffe-min.png 200w,
                ../src/images/products/product-coffex2-min.png 400w,
                ../src/images/products/product-coffedesk-min.png 302w,
                ../src/images/products/product-coffedeskx2-min.png 604w
              "
              sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
              src="../src/images/products/product-coffe-min.png"
              alt="ice-coffee"
            />
          </div>
        </div>
        <h3 class="product-title">ice coffee</h3>
        <p class="product-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button type="button" class="button ice-coffee" data-modal-ice-coffee-open>
          <svg width="40" height="16">
            
              <use href="./images/sprite.svg#icon-arrow"></use>
            
          </svg>
        </button>

        
      </li>
      <li class="product-item milkshakes list">
        <div class="product-img">
          <div class="product-overlay milkshakes">
            <img
              class="product-picture milkshakes"
              srcset="
                ../src/images/products/product-milkshake-min.png 200w,
                ../src/images/products/product-milkshakex2-min.png 400w,
                ../src/images/products/product-milkshakedesk-min.png 302w,
                ../src/images/products/product-milkshakedesk2-min.png 604w
              "
              sizes="(min-width: 1200px) 302px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
              src="../src/images/products/product-milkshake-min.png"
              alt="milkshakes"
            />
          </div>
        </div>

        <h3 class="product-title">milkshakes</h3>
        <p class="product-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button type="button" class="button milkshake" data-modal-milkshake-open>
          <svg width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>

      </li> 
    </ul>
  </div>
</section>

<!-- modal-ice-cream -->

<div class="backdrop-ice-cream is-hidden" data-modal-ice-cream>
  <div class="modal-ice-cream">
    <button class="close-btn" type="button" data-modal-ice-cream-close>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-Vectorclose"></use>
  
      </svg>
      
      
    </button>
    <h2 class="product-ingridients">Chololate icecream</h2>
    <h3 class="product-ingridient-name">Ingredients</h3>
    <div class="product-ingridient-name-list">
      <div>
        <ul class="product-food">
          <li class="product-food-item list">Milk</li>
          <li class="product-food-item list">Belgian chocolate</li>
          <li class="product-food-item list">Cream</li>
          <li class="product-food-item list">Cocoa powder</li>
          <li class="product-food-item list">Sugar</li>
          <li class="product-food-item list">Vanilla sugar</li>
        </ul>
      </div>
      <div>
        <ul class="product-wieght">
          <li class="product-wieght-item list">100ml</li>
          <li class="product-wieght-item list">20g</li>
          <li class="product-wieght-item list">150 ml</li>
          <li class="product-wieght-item list">30g</li>
          <li class="product-wieght-item list">40g</li>
          <li class="product-wieght-item list">10g</li>
        </ul>
      </div>
      
    </div>
    

  </div>
</div> 

<!-- modal ice-coffee -->

<div class="backdrop-ice-coffee is-hidden" data-modal-ice-coffee>
  <div class="modal-ice-coffee">
    <button class="close-btn" type="button" data-modal-ice-coffee-close>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-Vectorclose"></use>
      </svg>
      
    </button>
  </div>
</div> 

<!-- modal milkshake -->

<div class="backdrop-milkshake is-hidden" data-modal-milkshake>
  <div class="modal-milkshake">
    <button class="close-btn" type="button" data-modal-milkshake-close>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-Vectorclose"></use>
      </svg>
    </button>
  </div>
</div> 

<script src="./js/modal-ice-cream.js"></script>  
<script src="./js/modal-ice-coffee.js"></script>
<script src="./js/modal-milkshake.js"></script>
