<section class="product">
    <div class="product-container">
      <p class="product-logo">100% natural</p>
      <h2 class="product-name">products</h2>
      <ul class="product-card">
        <li class="product-item cream">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="button"></button>
        </li>
        <li class="product-item coffee">
          <h3 class="product-title">ice coffee</h3>
          <p class="product-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="button"></button>
        </li>
        <li class="product-item milkshakes">
          <h3 class="product-title">milkshakes</h3>
          <p class="product-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="button"></button>
        </li>
      </ul>
    </div>
  </section>
</html>




