<section class="section reviews">
    <div class="container reviews__container">
        <h1 class="reviews__title visually-hidden">Reviews</h1>
            <div class="reviews_card">
                <ul class="reviews__list">

                    <li class="reviews__item">
                        <img class="reviews__image"
                        src="./images/reviews/comentsemily-min.png" alt="foto_girl">
                        <div class="reviews__comment"> 
                            <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff</p>
                        </div>
                        <p class="reviews__subscriber">Emily, Los Angeles</p>
                    </li>

                    <!-- <li class="reviews__item">
                        <img class="reviews__image"
                        src="./images/reviews/comentsemily-min.png" alt="foto_girl">
                        <div class="reviews__comment"> 
                            <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff</p>
                        </div>
                        <p class="reviews__subscriber">Emily, Los Angeles</p>
                    </li>

                    <li class="reviews__item">
                        <img class="reviews__image"
                        src="./images/reviews/comentsemily-min.png" alt="foto_girl">
                        <div class="reviews__comment"> 
                            <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff</p>
                        </div>
                        <p class="reviews__subscriber">Emily, Los Angeles</p>
                    </li> -->

                </ul>
            </div>

            <div class="reviews__wrapper">
                <ul class="reviews__slider">
                    <li class="reviews__slider-item"></li>
                    <li class="reviews__slider-item"></li>
                    <li class="reviews__slider-item"></li>
                </ul>
            </div>
    </div>
</section>
